# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# Arduino / Build
# =========================
*.elf
*.hex
*.bin
*.map

# =========================
# Installer & Archive
# =========================
*.exe
*.msi
*.zip
*.iso

# =========================
# Software / Tools
# =========================
assets/Software/

# =========================
# IDEs & Editor
# =========================
.vscode/
.idea/

# =========================
# OS / Temp
# =========================
*.tmp
*.log

02_Teil_2_IDE_Programmierung/Dozentenversion/
